# Node
node_modules/
npm-debug.log*
package-lock.json
.DS_Store

# Python
venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
backend/logs/
backend/ml-service/logs/

# Python ML service artifacts
backend/ml-service/models/*.pkl

# Environment
.env
*.env
